@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;

  --font: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--font);
}


.container {
  height: 100vh;
  width: 100%;
  display: flex;
}

.section__login {
  width: 50vw;
  height: 100vh;
  background-color: var(--background);
}

.header__logo {
  padding: 40px;
}

.form {
  width: 572px;
  height: 512px;
  background-color: var(--form-background);
  padding: 55px 95px;
  margin: 126px 74px 194px;
}

.form__title {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-title);
  font-size: 24px;
}

.form__description {
  color: var(--text-base);
  margin-block: 5px 27px;
}

.form-group__login {
  position: relative;
  margin-block: 20px;
}

.form__label {
  display: block;
  color: var(--text-base);
  margin-bottom: 5px
}

.form__input {
  all: unset;
  width: 335px;
  background-color: transparent;
  color: #fff;
  border: 1px solid var(--text-base);
  padding: 12px 40px;
  border-radius: 4px;
}

.form__input:focus {
  border: 3px solid var(--primary-color);
}

.form__svg {
  position: absolute;
  top: 43px;
  left: 12px;
}

.form-svg__right {
  position: absolute;
  top: 60%;
  left: 380px;
}

.form-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.form-label__check {
  color: var(--text-base);
  margin-left: 30px;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

input:checked ~ .checkmark {
  background-color: var(--primary-color);
  border: none;
}

.checkmark {
  position: absolute;
  top: 3;
  left: 0;
  height: 22px;
  width: 22px;
  border-radius: 4px;
  border: solid 1px var(--text-title);
  background-color: var(--form-background);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 6px;
  top: 3px;
  width: 6px;
  height: 10px;
  border: solid var(--background);
  border-radius: 1px;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.form-reset__password {
  color: var(--primary-color);
  font-weight: bold;
}

.form__button {
  all: unset;
  display: block;
  width: 420px;
  background-color: var(--primary-color);
  color: var(--form-background);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  padding-block: 12px;
  margin-top: 20px;
}

.form__conte {
  color: var(--primary-color);
  text-align: center;
  margin-top: 14px;
}

.form__register {
  color: var(--primary-color);
  font-weight: bold;
}

.section__image {
  width: 50vw;
  height: 100vh;
}

.section-img__background {
  width: 100%;
  height: 100vh;
}

/* Responsividade */
@media (max-width: 1200px) {
  .form {
    width: 470px;
    margin-inline: 20px;
    padding-inline: 30px;
  }
}

@media (max-width: 980px) {
  .section__login {
    width: 100%;
  }

  .form {
    margin: 126px auto;
  }
  .section__image {
    display: none;
  }
}

@media (max-width: 700px) {
  .section__login {
    width: 100%;
  }

  .form {
    background-color: var(--background);
    margin: 30px auto;
    padding-block: 0;
  }
  .section__image {
    display: none;
  }
}



